* {
  box-sizing: border-box;
}
body {
  margin: 2em;
  color: rgba(255, 255, 255, 0) 41;
  max-width: 100%;
  line-height: 1.6;
  
}
/*
maincolor: #ff0000
seccolor:#ffbaba

headecolor,navbar-bg: #a70000
*/
